.wallets-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.wallet-options,
.wallet-settings {
  box-shadow: #ffe7c6 0 5px 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffffff99;
}
.wallet-option {
  vertical-align: middle;
  margin: 10px 1px;
  display: flex;
  border-radius: 5pt;
  cursor: pointer;
}
.wallet-name {
  min-width: 10em;
  display: inline-block;
  padding: 1pt 2pt 1pt 4pt;
}
.wallet-icon {
  vertical-align: middle;
  width: 2em;
}
.wallet-settings h3 {
  font-weight: bold;
}
.wallets-page {
  display: flex;
  flex: auto;
  flex-flow: row;
}

.wallets-page > div {
  min-width: 400px;
  padding: 0;
  margin: 20px;
  display: inline-block;
}
.wallets-page .p-button {
  margin-right: 10px;
  margin-top: 10px;
}
.wallets-page input {
  padding: 5px;
}
.wallets-page .p-input-icon {
  display: none !important;
}
.wallet-option > div {
  display: flex;
}
